{% extends "core/base.html" %}

{% load static %}

{% block title %}{{ item.title }}{% endblock %}

{% block content %}
<h1>{{ item.title }}</h1>
    {% if item.image %}
        <img src="{{ item.image.url }}" alt="{{ item.title }}" width="300">
    {% else %}
        <p>Изображение отсутствует</p>
    {% endif %}
    <p><strong>Категория: </strong> {{ item.get_category_display }}</p>
    <p><strong>Дата выпуска:</strong> {{ item.release_date }}</p>
    <p>{{ item.description }}</p>

    <form id="status-form" method="POST" action="{% url 'update_item_status' item.id %}">
        {% csrf_token %}
        <label for="status">Статус:</label>
        <select name="status" id="status" data-item-id="{{ item.id }}" onchange="updateStatus(this)" {% if user_review %}disabled{% endif %}>
            <option value="not_watched" {% if list_item_status == 'not_watched' %}selected{% endif %}>Не смотрю</option>
            <option value="will_watch" {% if list_item_status == 'will_watch' %}selected{% endif %}>Буду смотреть</option>
            <option value="watching" {% if list_item_status == 'watching' %}selected{% endif %}>Смотрю</option>
            <option value="watched" {% if list_item_status == 'watched' or user_review %}selected{% endif %}>Просмотрено</option>
        </select>
    </form>
    
    
    <div class="container-rating">
        <h2 style="display: inline-block; margin-right: 10px;">Средний рейтинг: ({{ average_rating }} / 10)</h2>
        <p style="display: inline-block; margin: 0;">
            {% for i in range %}
                {% if i < average_rating %}
                    <span class="star_gold">&#9733;</span>
                {% else %}
                    <span class="star_gray">&#9733;</span>
                {% endif %}
            {% endfor %}
        </p>
    </div>
    
    
    <h3>Отзывы:</h3>
    <ul>
        {% if user_review or reviews %}
            {% if user_review %}
                <li style="background-color: #ffffcc; padding: 10px; border: 2px solid orange;">
                    <strong>{{ user_review.user.username }} (Ваш отзыв)</strong>
                    <br>
                    <span>
                        {% for i in range %}
                            {% if i < user_review.rating %}
                                <span class="star_gold">&#9733;</span>
                            {% else %}
                                <span class="star_gray">&#9733;</span>
                            {% endif %}
                        {% endfor %}
                    </span>
                    ({{ user_review.rating }} / 10)
                    <br>
                    {{ user_review.comment }}
                    <br>
                    <small>{{ user_review.created_at }}</small>
                </li>
            {% endif %}

            {% for review in reviews %}
                <li>
                    <strong>{{ review.user.username }}</strong>
                    <br>
                    <span>
                        {% for i in range %}
                            {% if i < review.rating %}
                                <span class="star_gold">&#9733;</span>
                            {% else %}
                                <span class="star_gray">&#9733;</span>
                            {% endif %}
                        {% endfor %}
                    </span>
                    ({{ review.rating }} / 10)
                    <br>
                    {{ review.comment }}
                    <br>
                    <small>{{ review.created_at }}</small>
                </li>
                <br>
            {% endfor %}
        {% else %}
            <li>Отзывов пока нет.</li>
        {% endif %}
    </ul>
    
    {% if user.is_authenticated and not user_review %}
        <h3>Оставьте отзыв</h3>
        <form method="post" id="review-form">
            {% csrf_token %}
            <div class="rating-container">
                {% for i in range %}
                    <span class="star" data-value="{{ i|add:1 }}">&#9733;</span>
                {% endfor %}
            </div>
            <input type="hidden" name="rating" id="rating-input">
            {{ form.comment }}
            <button type="submit">Отправить</button>
        </form>
    {% elif user_review %}
        <p style="color: gray;">Вы уже оставили отзыв.</p>
    {% else %}
        <p style="color: red;">Чтобы оставить отзыв, <a href="{% url 'login' %}">войдите</a> в аккаунт.</p>
    {% endif %}    

    <a href="/">Назад</a>
    
    <script src="{% static 'js/rating.js' %}"></script>
    <script src="{% static 'js/status_update.js' %}"></script>
    <script src="{% static 'js/close_rating.js' %}"></script>
{% endblock %}
